<h1><%= @restaurant.name %></h1>

<ul>
<li>Address: <%= @restaurant.address %></li>
<li>Phone: <%= @restaurant.phone_number %></li>
<li>Cuisine: <%= @restaurant.category %></li>
</ul>

<%= link_to 'Back', restaurants_path %>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
<%= link_to 'Delete', restaurant_path(@restaurant), method: :delete, data: { confirm: 'Are you sure?' } %>
